@charset "UTF-8";

.post-read h1{
    font-size: 4.5rem;
    margin: 2rem 0;
    line-height: 2;
    color: var(--main);
}
.post-read .data{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1.5rem;
}
.post-read .data span i{
    font-size: 1.6rem;
    color: var(--main);
}
.post-read .data span{
    font-size: 1.6rem;
    color: var(--primary);
}
.post-read .post-img{
    margin: 0 auto;
    max-width: 500px;
}
.post-read .post-img img{
    width: 100%;
    object-fit: cover;
}
.post-read .post-content{
    padding: 1rem 0;
}
.post-read .post-content p{
    font-size: 1.7rem;
    line-height: 1.5;
    color: #222;
    padding: 1rem 0;
}

@media(max-width: 992px){
    .post-read h1{
        font-size: 3.5rem;
    }
}
@media(max-width: 768px){
    .post-read h1{
        font-size: 3rem;
    }
}
