@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: "Poppins", sans-serif;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #facc15;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #facc15;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.footer-link {
    color: #a3a3a3; /* neutral-400 */
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: #facc15; /* yellow-400 */
    padding-left: 4px;
}

[x-cloak] {
    display: none !important;
}

